<div class="row">
    <div *ngFor="let product of products" class="col-3">
      <div class="card my-4">
        <div class="card-header text-center">
          <img src="{{ product.imagePath }}" height="180px" width="150px" />
        </div>
        <div class="card-body">
          <p class="card-text" align="center">
            <b>{{ product.productName }}</b>
          </p>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text" align="left">{{ product.Price }}₹</p>
          <p class="card-text" align="center">
            <button class="btn btn-primary text-center" (click)="addToCart(product)">
              Add To Cart
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  