<!-- 
<h2>Hi! This is Test Component</h2>
{{message}}  one way data binding -->
<!--
<h1>Ur Details </h1>
<h2>Ur Age : {{age}}</h2>
<h2>Ur Marrital Status : {{isMarried}}</h2>
<h2>Ur Salary : {{salary}}</h2>

<h1>Address</h1>
<h3>DoorNo {{address.doorNo}}</h3>
<h3>Street {{address.street}}</h3>
<h3>City {{address.city}}</h3>

<h1>Ur Hobbies</h1>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>

Enter Text : <input type="text" [(ngModel)]="message">

<button (click)="showMessage()">Click to Run Show Message</button> -->




<!-- <div class="row">
<div class="col-xl-3 col-lg-3 col-sm-4 col-6 bg-info">col-xl-3</div>
<div class="col-xl-3 col-lg-3 col-sm-4 col-6 bg-warning">col-xl-3</div>
<div class="col-xl-3 col-lg-3 col-sm-4 col-6 bg-danger">col-xl-3</div>
<div class="col-xl-3 col-lg-3 col-sm-4 col-6 bg-danger">col-xl-3</div>
</div> -->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img src="./assets/images/stones.jpg" width="80%" height="200px">
            </div>
            <div class="card-body">
                <h4 class="card-title">Nature</h4>
                <p class="card-text">Depending on how you obtained the Windows software,
                    this is a license agreement between (i) you and the device manufacturer or software installer
                    that distributes the software with your device; or (ii) you and
                    Microsoft Corporation (or, based on where you live or, if a business</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary">Click Here..</button>
            </div>
        </div>
    </div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <img src="./assets/images/lilly.jpg" width="80%" height="200px">
        </div>
        <div class="card-body">
            <h4 class="card-title">Nature</h4>
            <p class="card-text">Depending on how you obtained the Windows software,
                this is a license agreement between (i) you and the device manufacturer or software installer
                that distributes the software with your device; or (ii) you and
                Microsoft Corporation (or, based on where you live or, if a business</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Click Here..</button>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            <img src="./assets/images/mobile.jpg" width="80%" height="200px">
        </div>
        <div class="card-body">
            <h4 class="card-title">Nature</h4>
            <p class="card-text">Depending on how you obtained the Windows software,
                this is a license agreement between (i) you and the device manufacturer or software installer
                that distributes the software with your device; or (ii) you and
                Microsoft Corporation (or, based on where you live or, if a business</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary">Click Here..</button>
        </div>
    </div>
</div>
